/* Browser Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-flex {
  max-width: 80%;
  margin: 40px auto;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.post-details-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-details-action {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: gray;
}

.post-details-action button {
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 15px;
}

.post-title {
  color: white;
  margin: 10px 0px;
  font-size: 30px;
}

.post-body {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  color: gray;
}

.about-me {
  margin-top: 20px;
  background-color: black;
  padding: 20px;
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.about-name {
  color: white;
}

.comment-form {
  margin-top: 30px;
  color: white;
}

.form-group input {
  margin: 10px 0px;
  width: 100%;
  height: 30px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.278);
  color: rgb(165, 165, 165);
}

.comment-form button {
  color: #fff;
  cursor: pointer;
  background-color: rgba(48, 47, 47, 0.789);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 50%;
  height: 30px;
  margin: 10px auto;
}

.comment-form button:hover {
  background: #fb8500;
  transform: scale(1.05);
  transition: 0.5s;
}

.comment-form button:active {
  background-color: rgba(79, 79, 79, 0.5);
  transform: scale(1);
}

.comments h2 {
  color: #ccc;
  font-size: 20px;
  margin: 10px 0px;
}

.comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-info {
  display: flex;
  align-items: center;
}

.comment-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-author {
  color: white;
}

.comment-author span {
  color: gray;
}

.comment-body {
  color: white;
  margin: 10px;
}

.post-details-action {
  margin-top: 10px;
}

.post-details-action a {
  color: #ccc;
}

.post-details-action button {
  color: #f02d2d;
}

@media (min-width: 700px) {
  .container-flex {
    width: 60%;
  }
}
