* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-container .backgroundImg {
  padding: 20px;
  border-bottom: 1px solid #e6e6e6;
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
}
.profile-img .fas {
  position: absolute;
  top: 20px;
  right: -50px;
  font-size: 20px;
  color: #fff;
  background-color: #1da1f2;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.profile-container .icons-container {
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
  height: 10vh;
  margin-top: 20px;
  padding: 0 20px;
  position: absolute;
  top: 80px;
  right: 0;
}

.profile-container .icons-container .fas {
  cursor: pointer;
  color: #000000;
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.personal-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  background-color: #68686886;
  min-width: 40%;
  padding: 20px;
  margin-top: 80px;
}
.profile-container .details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 20px;
  font-size: 18px;
}

.details-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.details .fas {
  margin-right: 10px;
  color: #1da1f2;
}

.posts-title {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.posts-title h1 {
  font-size: 30px;
  margin-top: 20px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.postContainer {
  margin: 10px;
  width: 95%;
  background-color: black;
  border-radius: 10px;
  border: 2px solid rgb(125, 125, 125);
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.postContainer img {
  width: 100%;
  border-radius: 30px;
  padding: 20px;
}

.postContainer h2 {
  color: white;
  margin-bottom: 10px;
}

.postContainer p {
  color: rgb(184, 184, 184);
}

.postContainer a {
  color: rgb(184, 184, 184);
}

.post-title {
  color: white;
  margin: 10px 0px;
  font-size: 25px;
}

.category {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  padding: 5px;
  border-radius: 5px;
}

@media (min-width: 760px) {
  .postContainer {
    width: 46%;
  }
}

@media (min-width: 1250px) {
  .postContainer {
    width: 30%;
  }
}
